<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
           {# <ul>
            <li>
                <a href="{{ path('app_date') }}">Time</a>
            </li>
            <li>
            
                <a href="{{ path('app_color', { color: 'blue' }) }}">Color</a>

            </li>
            <li>
                <a href="{{ path('app_default') }}">Votre IP</a>
            </li>
        </ul> #}
    <nav class="flex items-center justify-center flex-wrap bg-blue-900 p-6">
        <div class="flex items-center flex-shrink-0 text-blue-100 mr-6">
            <span class="font-semibold text-xl tracking-tight">My TP revision</span>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto lg:items-center  {{ app.request.attributes.get('_route') == 'app_home' ? 'text-teal-200 font-bold' : '' }}">
            <div class="text-sm lg:flex-grow">
              <a href="{{ path('app_home') }}" class="block mt-4 lg:inline-block lg:mt-0  text-lg text-white hover:text-teal-200 mr-4 ">
                Accueil
            </a>
            <a href="{{ path('app_date') }}" class="block mt-4 lg:inline-block lg:mt-0  text-lg text-white hover:text-teal-200 mr-4  {{ app.request.attributes.get('_route') == 'app_date' ? 'text-teal-200 font-bold' : '' }}">
                Time
            </a>
            <a href="{{ path('app_color', { color: 'blue' }) }}" class="block mt-4 lg:inline-block lg:mt-0 text-lg text-white hover:text-teal-200 mr-4  {{ app.request.attributes.get('_route') == 'app_color' ? 'text-teal-200 font-bold' : ''}}">
                Color
            </a>
            <a href="{{ path('app_default') }}" class="block mt-4 lg:inline-block lg:mt-0 text-lg text-white hover:text-teal-200 mr-4  {{ app.request.attributes.get('_route') == 'app_default' ? 'text-teal-200 font-bold' : ''}}">
                Votre IP
            </a>
            <a href="{{ path('app_article') }}" class="block mt-4 lg:inline-block lg:mt-0 text-lg text-white hover:text-teal-200 mr-4  {{ app.request.attributes.get('_route') == 'app_article' ? 'text-teal-200 font-bold' : '' }}">
                Article
            </a>
              <a href="{{ path('app_search') }}" class="block mt-4 lg:inline-block lg:mt-0  text-lg text-teal-200 text-white hover:text-teal-200 mr-4  {{ app.request.attributes.get('_route') == 'app_search' ? 'text-teal-200 font-bold' : '' }}"">
                Search
            </a>
            </div>
        </div>
</nav>

        {% block body %}{% endblock %}
    </body>
</html>
